.review-details{
    background-color: red;
    margin-left: 2%;

}
.Home{
    background-color: red;
    margin-left: 2%;
}
.About{
    background-color: red;
    margin-left: 2%;

}
.container{
    display: flex;
    gap: 2%;
    justify-content: right;
    margin-right: 15%;
}
